# Clerk Configuration
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key
CLERK_SECRET_KEY=your_clerk_secret_ke
DATABASE_URL="postgresql://username:password@localhost:5432/website_name"
VERCEL_PROJECT_PRODUCTION_URL=
NEXT_PUBLIC_SITE_URL=